<nav class="mobile-nav">
        <div class="toggle">
            <h1>Todo List</h1>
            <div class="toggleBtn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="dropdown">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/todo">Todo List</a></li>
            </ul>
        </div>
    </nav>
    <nav class="desktop-nav">
        <h1>Todo List</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/todo">Todo List</a></li>
        </ul>
    </nav>