/* MAIN SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #1d3557;
    color: #f1faee;
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 100%;
}

/* HEADER */
header{
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #1b2b42;
}

/* NAVBAR */
.desktop-nav{
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #1f3a5f;
}
.desktop-nav ul{
    display: flex;
}
.desktop-nav li{
    list-style: none;
}
.desktop-nav a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #f1faee;
    letter-spacing: 0.1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
}
.desktop-nav a:hover{
    background-color: #1b2b42;
}


.mobile-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mobile-nav .toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #1f3a5f;
}
.mobile-nav .toggle h1, .desktop-nav h1{
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.mobile-nav .toggle{
    cursor: pointer;
}
.mobile-nav .toggleBtn span{
    display: block;
    height: 3px;
    width: 20px;
    background-color: #f1faee;
    margin-bottom: 3px;
}
.mobile-nav .dropdown{
    display: none;
    width: 100%;
    text-align: center;
    background-color: #1f3a5f;
}
.mobile-nav li{
    list-style: none;
}
.mobile-nav a{
    display: block;
    align-items: center;
    text-decoration: none;
    padding: 0.7rem 0;
    color: #f1faee;
    letter-spacing: 0.1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
}
.mobile-nav a:hover{
    background-color: #1b2b42;
}
.showBlock{
    display: block !important;
}

/* HEADER CONTENT */
.header-content{
    background-image: url('/img/header.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}
.header-content .overlay{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.header-content .overlay-content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* TODO PAGE */
.container{
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.container h1{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 2;
}
.container .btn-group{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;
}
.container .btn-group button, .addUI button{
    padding: 0.7rem 1.5rem;
    background-color: #e63946;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: #f1faee;
    transition: 0.3s;
    text-transform: uppercase;
}
.container .btn-group button:hover{
    background-color: #cc313e;
    letter-spacing: 0.5px;
}
.addUI button:hover{
    background-color: #cc313e; 
}
.container .todoUI{
    background-color: #457b9d;
    padding: 1rem;
    height: 500px;
}
.container table{
    width: 100%;
    text-align: center;
}
.container tbody:before{
    content: '';
    display: block;
    margin-top: 1rem;
}
.container tbody td{
    padding: 1rem;
}
.container tbody button{
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    background-color: #e63946;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: #f1faee;
    transition: 0.3s;
}
.container tbody button:hover{
    background-color: #cc313e;
}

.addUI{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    background-color: #1d3557;
    display: none;
    flex-direction: column;
}
.addUI h3{
    text-align: center;
    margin-bottom: 1rem;
}
.addUI label{
    text-align: center;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.addUI input{
    background-color: #457b9d;
    border: none;
    color: #f1faee;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.addUI .exit{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
    cursor: pointer;
}
.showFlex{
    display: flex !important;
}


/* MEDIA QUERY */

@media(min-width: 992px){
    .desktop-nav{
        display: flex;
    }
    .desktop-nav h1{
        padding-left: 0.5rem;
    }
    .mobile-nav{
        display: none;
    }
}
@media(min-width: 900px){
    .header-content{
        background-size: 100% 100%;
    }
}