<div class="container">
    <h1>Your Todo List</h1>

    <form class="addUI" action="/todo" method="post">
        <div class="exit">X</div>
        <h3>Add Todo</h3>
        <label for="text">Text:</label>
        <input type="text" name="text" id="text" value="">
        <button type="submit">Add</button>
    </form>

    <div class="todo">
        <div class="btn-group">
            <button class="add">Add Todo</button>
            <button class="refresh">Refresh Todo</button>
        </div>
        <div class="todoUI">
            <table>
                <thead>
                    <th>Text</th>
                    <th>Settings</th>
                </thead>
                <tbody>
                    <tr>
                        <td>asssssssssssssssssssssssd</td>
                        <td>
                            <button class="remove">Remove</button>
                            <button class="update">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>asd</td>
                        <td>asd</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>